@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@400;700&display=swap');
@import "custom";

$main-background-color: #38495D;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Merriweather', serif;



body{
    background-color: $main-background-color;
    font-family: $font-primary;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.font-primary{
    font-family: $font-primary;
}

.font-secondary{
    font-family: $font-secondary;
}

p{
    font-family: $font-secondary;
}

a{
    text-decoration: none;
}

.button-back{
    background: transparent;
    border: none;
}



